<!DOCTYPE html>
@{
    ViewBag.Title = "Cara Pemesanan";
}
<html>
<head>

</head>
<body>
    <br />
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h3>Daerah Pengiriman</h3>
                <ul>
                    <li>Purwokerto</li>
                    <li>Buayan</li>
                    <li>Puring</li>
                    <li>Petanahan</li>
                    <li>Ambal</li>
                    <li>Gombong</li>
                    <li>Karanganyar</li>
                    <li>Kutoarjo</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Aturan Pengiriman</h3>
                <ol>
                    <li>Pengiriman dapat diproses dengan minimum pembelian 80 kg untuk pembelian ayam</li>
                    <li>Pembayaran harus dilakukan dalam 24 jam setelah proses pemesanan</li>
                    <li>Pengiriman akan langsung dilakukan setelah proses pembayaran selesai</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <article>
                    <h3>Cara Pemesanan</h3>
                    <ol>
                        <li>Pilih Menu Produk untuk melihat barang</li>
                        <li>Klik nama barang untuk melihat detail produk atau klik Tambahkan ke Keranjang untuk membelinya</li>
                        <li>Klik Pesan untuk melanjutkan ke proses pembelian</li>
                        <li>Masuk sebagai pelanggan jika sudah mempunyai akun atau daftar untuk menjadi Pelanggan</li>
                        <li>Isi Form Pemesanan</li>
                        @*<li>Pilih Metode Bayar</li>*@
                        @*<li>Konfirmasi Pemesanan akan dikirimkan ke email dan sms yang memberitahukan bahwa proses transaksi sudah dilakukan dan nomor rekening yang harus dituju untuk melakukan pembayaran</li>*@
                        <li>Pembayaran</li>
                        <li>Setelah Pembayaran selesai, Pengiriman akan diproses</li>
                    </ol>
                </article>
            </div>
        </div>
    </div>
    <br />



</body>
</html>
