@model IEnumerable<RplNiwatori.Models.Barang>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;font-weight:bold;font-family:Arial">Daftar Barang</h2>
<br />

<style>
    div.img {
        padding-top : 10px;
        padding-right : 10px;
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 200px;
    }

        div.img:hover {
            border: 2px solid;
        }

        div.img img {
            width: 150px;
            height: 150px;
        }

    div.desc {
        padding: 10px;
        text-align: left;
        width: 200px;
    }
</style>


<br />
@foreach (var item in Model)
{
    <div class="img col-md-4">
        <a target="_blank" href="/Barang/Details">
            <img src="~/Content/Image/@item.Gambar" /> <br />
        </a>
        <div class="desc">
            <a href="/Barang/Details/@item.Kode_Barang"><strong>@item.Nama_Barang</strong></a><br />
            Satuan : @item.Satuan<br />
            Harga  : Rp.@item.Harga.ToString("N0")<br />
            Stok   : @item.Stok<br />
            <br />
            @if (User.IsInRole("Admin"))
            {

                <a href="~/Barang/Edit/@item.Kode_Barang" class="btn btn-success">Ubah</a>
            }
            else
            {
                <a href="~/Keranjang_Belanja/TambahCart/@item.Kode_Barang" class="btn btn-success">Tambah ke Keranjang</a>
            }
        </div>
    </div>
}
